@page
@model CollegePlacementsWebApp.Branches.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center"> Branche Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-secondary" asp-route-id="@Model.Branch.BranchID">Edit This Record</a> 
    
</div>
